@mixin flex-align-justify($align: flex-start, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin clear-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin styled-scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    height: 5px;
    background-color: $gray-separator;
  }

  &::-webkit-scrollbar {
    height: 5px;
    background-color: $gray-separator;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}