<!-- LIST VIEW -->
<ng-container *ngIf="tpl === 'list'; else tableView">
  <div class="standings">
    <ng-container *ngIf="standings$ | async as standings; else loader">
      <app-standings-list *ngFor="let conference of objectKeys(standings) as conference"
        [standings]="standings" [conference]="conference" class="standings-list"></app-standings-list>
    </ng-container>
  </div>
</ng-container>

<!-- TABLE VIEW -->
<ng-template #tableView>
  <ng-container *ngIf="standings$ | async as standings; else loader">
    <app-standings-table [standings]="standings" class="table"></app-standings-table>
  </ng-container>
  
  <ng-container *ngIf="standings$ | async as standings; else loader">
    <app-standings-list *ngFor="let conference of objectKeys(standings) as conference"
      [standings]="standings" [conference]="conference" class="list"></app-standings-list>
  </ng-container>
</ng-template>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>