@import 'index';

.home {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 25px;

  &__header {
    grid-column: 1/2;
    position: sticky;
    top: 70px;
    z-index: 998;
    background: #e5e7e9;
  }

  &__content {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .player {
    grid-column: 2/3;

    @media screen and (max-width: 768px) {
      grid-column: 1/2;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
}