@import 'index';

.team {
  position: relative;
  overflow: hidden;
  @include flex-align-justify(center, flex-start);
  padding: 30px 2.5vw;

  &__shadow-logo {
    width: 80vw;
    opacity: 0.1;
    position: absolute;
    right: -150px;
    top: calc(50% - 40vw);
    user-select: none;
    pointer-events: none;
  }

  &__logo {
    width: 15.5vw;
    min-width: 150px;
    margin-right: 5vw;
  }

  &__city {
    @include karla-bold(42px);
    color: $white;
  }

  &__nickname {
    @include karla-bold(62px);
    color: $white;
  }

  @media screen and (max-width: 576px) {
    &__shadow-logo {
      right: -100px;
      width: 400px;
      top: calc(50% - 200px);
    }

    &__logo {
      min-width: 120px;
      margin-right: 2vw;
    }

    &__city {
      @include karla-bold(24px);
    }
  
    &__nickname {
      @include karla-bold(38px);
    }
  }
}

.team-stats {
  background: darken($primary, 20%);
  min-height: 150px;
}


.team-content-container {
  @include flex-align-justify(flex-start, space-between);
  flex-wrap: wrap;

  .team-roster {
    width: 70%;
    margin: 50px 0;
  
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  
  .team-games {
    width: 30%;
  
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap-reverse;
    
    .team-roster {
      width: 100%;
    }

    .team-games {
      width: 100%;
    }
  }
}

.team-stats {
  @include flex-align-justify(center, flex-start);
  padding: 20px 10px;

  &__avg, &__standings {
    @include flex-align-justify(center, center);
    width: 40%;
    height: 100%;

    @media screen and (max-width: 1024px) {
      width: 100%;
      order: 2;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.stats__item {
  @include flex-align-justify(center, center);
  flex-direction: column;
  padding: 10px 1.5vw;

  @media screen and (max-width: 576px) {
    width: 25%;
  }

  p {
    @include karla-bold(24px);
    color: $white;

    @media screen and (max-width: 576px) {
      @include karla-bold(22px);
    }
  }

  .stats-title, .abbr {
    @include karla-regular(18px);
    margin-bottom: 5px;

    @media screen and (max-width: 576px) {
      @include karla-regular(14px);
    }
  }

  .abbr {
    cursor: help;
    color: $white;
    text-decoration: none;
    transition: 200ms ease;

    &:hover {
      color: $secondary;
    }
  }
}

.general-standings {
  @include karla-bold(62px);
  width: 20%;
  color: $white;
  text-align: center;

  span {
    color: $primary;
  }

  @media screen and (max-width: 576px) {
    @include karla-bold(48px);
  }

  @media screen and (max-width: 1024px) {
    order: 1;
    margin-bottom: 20px;
    width: 100%;
  }
}

.separator {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  height: 1px;

  @media screen and (min-width: 576px) {
    display: none;
  }
}