@import 'index';

.team {
  position: relative;
  overflow: hidden;
  @include flex-align-justify(center, flex-start);
  padding: 30px 2.5vw;

  &__shadow-logo {
    width: 80vw;
    opacity: 0.1;
    position: absolute;
    right: -150px;
    top: calc(50% - 40vw);
    user-select: none;
    pointer-events: none;
  }

  &__logo {
    width: 15.5vw;
    min-width: 150px;
    margin-right: 5vw;
  }

  &__city {
    @include karla-bold(42px);
    color: $white;
  }

  &__nickname {
    @include karla-bold(62px);
    color: $white;
  }

  @media screen and (max-width: 576px) {
    &__shadow-logo {
      right: -100px;
      width: 400px;
      top: calc(50% - 200px);
    }

    &__logo {
      min-width: 120px;
      margin-right: 2vw;
    }

    &__city {
      @include karla-bold(24px);
    }
  
    &__nickname {
      @include karla-bold(38px);
    }
  }
}

.team-stats {
  background: darken($primary, 20%);
  height: 150px;
}


.team-content-container {
  @include flex-align-justify(flex-start, space-between);
  flex-wrap: wrap;

  .team-roster {
    width: 70%;
  
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  
  .team-games {
    width: 30%;
  
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap-reverse;
    
    .team-roster {
      width: 100%;
    }

    .team-games {
      width: 100%;
    }
  }
}