@import 'index';

.standings-table {
  width: 90%;
  margin: 0 auto;
}

.rank {
  @include karla-regular(18px);
  text-align: center;
  margin-right: 24px;
}

.center {
  text-align: center ;
}

.header {
  background: $primary;
  @include karla-regular(16px);
  text-transform: uppercase;
  color: $white;

  ::ng-deep .mat-sort-header-container {
    justify-content: center !important; 
  }
}

.data-row {
  &:nth-child(even) {
    background: $light-gray;
  }

  &:nth-child(n + 9) {
    background: $light-gray;
    opacity: 0.6;
  }

  &:nth-child(9) {
    border-top: 2px solid $gray-separator;
  }

  &:hover {
    background: lighten($primary, 65%);
    animation: 250ms table-row-shadow forwards;
  }
}

@keyframes table-row-shadow {
  0% {
    box-shadow: inset 0px 1px 0px 0px lighten($primary, 10%), inset 0px -1px 0px 0px lighten($primary, 10%), 0px 0px 0px 0px $primary
  }
  100% {
    box-shadow: inset 0px 1px 0px 0px lighten($primary, 10%), inset 0px -1px 0px 0px lighten($primary, 10%), -10px 0px 0px 0px $primary;
  }
}

.team {
  @include flex-align-justify(center, flex-start);
  
  &__logo {
    width: 50px;
    margin-right: 10px;
  }

  &__name {
    @include karla-bold(14px);
  }
}

.button-container {
  margin: 0 auto;
  width: fit-content;
}

.conference-button {
  @include clear-button;
  color: $white;
  width: 250px;
  height: 50px;
  transition: 0.1s ease;
  @include karla-bold(16px);
  color: $primary;
  text-transform: uppercase;
  box-shadow: inset 0px 2px 0px 0px $primary, inset 2px 0px 0px 0px $primary, inset -2px 0px 0px 0px $primary;

  &--active {
    background: $primary;
    color: $white;

    &:hover {
      background: lighten($primary, 5);
    }

    &:active {
      background: darken($primary, 5);
    }
  }
}