@import 'index';

.nav {
  width: 100%;
  height: auto;
  background: $primary;
  height: $menu-height;
  padding: 0 5vw;

  .nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    $transition: 100ms ease;

    li {
      height: 100%;
      position: relative;
      transition: $transition;
      
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        cursor: pointer;
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        transition: $transition;

        &:hover {
          background: darken($primary, 5%);
        }

        &:active, &.active {
          background: darken($primary, 10%);
        }
      }

      &:hover, &.active {
        &::after {
          content: '';
          width: 100%;
          height: 5px;
          background: white;
          position: absolute;
          left: 0;
          bottom: -5px;
          box-shadow: $shadow;
        }
      }
    }

    @media screen and (max-width: 576px){
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      transform: translateX(100%);
      transition: .5s;
      height: auto;
      background: $primary;

      li {
        height: 70px;
        width: 100%;
        background: $primary;

        &:after {
          display: none;
        }
      }
    }

    &.toggled {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 576px){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
  }
}

.hamburger {
  .line{
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }

  &.is-active{
    .line:nth-child(1) {
      opacity: 0;
      transform: translateX(-100%);
    }

    .line:nth-child(3){
      opacity: 0;
      transform: translateX(100%);
    }    
  }

  &:hover{
    cursor: pointer;
  }

  @media screen and (min-width: 576px) {
    display: none;
  }
}
